@model LocationApp.Data.Database.department
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    @Html.Partial("/Views/Shared/Partials/DataTable/_Css.cshtml")
}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Lokasyon <small> Departman</small></h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Departman<small></small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div> @Html.Raw(ViewBag.Message)</div>
                    @using (Html.BeginForm("Create", "Department", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                    {
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="siteID">Ana Birim :</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownList("MainUnitID", null, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="siteID">Alt Birim :</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownList("SubUnitID", null, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Departman Başlık : <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control col-md-7 col-xs-12", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">
                                Açıklama <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.Description, new { @class = "form-control col-md-7 col-xs-12" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">
                                Diğer <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.Other, new { @class = "form-control col-md-7 col-xs-12" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="submit" class="btn btn-success pull-right">Kaydet</button>
                                <a href="/Department/List" class="btn btn-primary pull-right" type="button">Listeleye Dön</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
@section Scripts{
    @Html.Partial("/Views/Shared/Partials/DataTable/_Js.cshtml")
    <script type="text/javascript">
        $("#MainUnitID").change(function () {
            var mainUnitID = $(this).val();
            $("#SubUnitID").empty();
            $.ajax({
                url: '/Department/GetSubUnit',
                type: "GET",
                dataType: "json",
                data: { mainUnitID: mainUnitID },
                success: function (data) {
                    $.each(data, function () {
                        $('#SubUnitID').append('<option value=' + this.SubUnitID + '>' + this.Name + '</option>');
                    });
                }
            });
        });
    </script>
}